<div class="my-5 flex flex-col gap-3" data-controller="image-preview">
  <div id="photo-preview" class="flex gap-3 overflow-x-auto no-scrollbar" data-image-preview-target="preview" class="mt-3">
    <div class="flex items-center justify-center w-[200px] h-[152px] bg-white border-[2px] border-gray-400 border-dashed outline-none rounded-xl">
      <img src="<%= image_url("img-preview.svg") %>"/>
    </div>
    <div class="flex items-center justify-center w-[200px] h-[152px] bg-white border-[2px] border-gray-400 border-dashed outline-none rounded-xl">
      <img src="<%= image_url("img-preview.svg") %>"/>
    </div>
  </div>
  <div class="flex">
    <%= form.label :photos, "Upload image", class: "bg-black text-white cursor-pointer py-3 px-5 rounded-full font-bold" %>
    <%= form.file_field :photos, multiple: true, data: { action: "change->image-preview#previewImages", image_preview_target: "input" }, class: "hidden" %>
  </div>
</div>
<div class="my-5">
  <%= form.label :title %>
  <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>
<div class="my-5">
  <%= form.label :description %>
  <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>
<div class="my-5">
  <%= form.label :category_id %>
  <%= form.select :category_id, Category.all.collect { |c| [c.name, c.id] }, { prompt: 'Select a Category' }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>
<div class="my-5">
  <%= form.label :postcode %>
  <%= form.text_field :postcode, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>
<div class="my-5">
  <%= form.label :price_per_day %>
  <%= form.text_field :price_per_day, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>
<div class="my-5">
  <%= form.label :price_per_month %>
  <%= form.text_field :price_per_month, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>
<div class="my-5">
  <%= form.label :price_per_week %>
  <%= form.text_field :price_per_week, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>
<div class="my-5">
  <%= form.label :item_value %>
  <%= form.text_field :item_value, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>
<div class="my-5">
  <%= form.label :min_rental_days %>
  <%= form.number_field :min_rental_days, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>
