<%= turbo_stream_from @category.listings %>
<div class="bg-zinc-100 flex max-w-[480px] w-full flex-col items-stretch mx-auto pt-8">
  <div class="flex w-full flex-col items-stretch">
    <div class="flex items-stretch justify-between gap-3.5">
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/395d145a62852996f80a7ef70e6f41563449c1ce5bda5376d7c20e12962542b8?" class="aspect-square object-contain object-center w-10 overflow-hidden shrink-0 max-w-full">
      <div class="justify-center text-black text-2xl font-bold leading-6 self-center grow shrink basis-auto my-auto">
        <%= @category.name %>
      </div>
    </div>
    <%= form_with(url: search_category_listings_path(category_slug: @category.slug), method: :get, data: { turbo_frame: "listing" }, class:"flex justify-between text-zinc-400 text-sm leading-5 whitespace-nowrap items-center bg-white mt-6 p-3 rounded-xl") do |f| %>
      <%= f.text_field :query, class: 'outline-none border-none focus:outline-none', placeholder: 'Search product' %>
      <%= image_submit_tag "search.svg", class:"bg-black p-2 rounded-xl" %>
    <% end %>
    <div class="items-stretch flex gap-1.5 mt-4 overflow-x-scroll">
      <% Category.all.order(:name).each do |category| %>
        <div class="text-black text-sm leading-5 whitespace-nowrap justify-center items-stretch bg-white grow px-4 py-2.5 rounded-[60px]">
          <%= link_to category.name, category_listings_path(category_slug: category.slug) %>
        </div>
      <% end %>
    </div>
    <div class="items-stretch grid grid-cols-2 gap-3.5 mt-4 pb-4 self-start">
      <%= render :partial => "listing", :collection => @category.listings %>
    </div>
  </div>
</div>
