<!DOCTYPE html>
<html>
  <head>
    <title>Rentee</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve  %>
    <%= content_for :head %>
  </head>
  <body class="bg-zinc-100">
    <div class="flex w-full flex-col items-stretch mx-auto">
      <div class="flex w-full flex-col">
        <%= render partial: "layouts/header" unless request.path =~ /listing/ || request.path =~ /users/ %>
        <%= yield %>
      </div>
      <%= render partial: "layouts/navbar" unless request.path =~ /listings\/new/ %>
    </div>
  </body>
</html>
